# Core - pin these strictly
apache-airflow==3.1.7
apache-airflow-core==3.1.7
apache-airflow-providers-common-compat==1.13.1
apache-airflow-providers-common-io==1.7.1
apache-airflow-providers-common-sql==1.31.0
apache-airflow-providers-fab==3.3.0
apache-airflow-providers-postgres==6.5.4
apache-airflow-providers-smtp==2.4.2
apache-airflow-providers-standard==1.11.1
apache-airflow-task-sdk==1.1.7

# Data & ML - pin these strictly
pyspark==3.5.3
pandas==2.2.3
scikit-learn==1.8.0
joblib==1.5.3
xgboost==2.1.4
numpy==2.4.2

# MLflow - let pip resolve cachetools conflict
mlflow
mlflow-skinny

# Kafka
kafka-python==2.3.0

# DB
psycopg2-binary==2.9.11
